*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
    color: #fff;
}
/* IMMAGINE E TESTO */
.container{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 20px;
    width: 500px;
}

.main-header img{
    width: 180px;
    padding-bottom: 20px;
    margin-left: 20px;
}

/* MAIN */
.main{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 50px;
}

.main-img{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 50px;
    flex-wrap: wrap;
}

.main-img img{
    width: 250px;
    margin-right: 20px; 
}

.main-img img:nth-child(2),
.main-img img:nth-child(3){
    height: 320px;
    width: 400px;
    border-radius: 5px;
}

/* COUNT DOWN */
.countdown-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Zen Dots', cursive;
    margin-top: 30px;
    font-size: 20px;
}